#outer-container {
  display: flex;
}

#panel-container {
  flex: 2;
  max-width: 400px;
  height: 70vh;
  /*  */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#content-container {
  flex: 6;
  height: 100vh;
  width: 100%;
}

.project-container {
  /* flex: 6; */
  width: 6fr;
  height: 100vh;
  /*  */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 400px));
  grid-template-rows: 1fr;
}

.form.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.list {
  width: 50%;
  height: max-content;
  background-color: gold;
  border: 4px solid violet;
  border-radius: 10px;
  padding: 10px 10px 50px 10px;
  /*  */
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item.wrapper {
  width: 95%;
  height: min-content;
  background-color: wheat;
  border: 2px solid blue;
  border-radius: 5px;
  list-style-type: none;
  margin: 5px 0;
  /*  */
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(4, 25px);
}

button.submit {
  color: white;
  background-color: purple;
  font-family: monospace;
  font-size: 14px;
  font-weight: 900;
  width: 60px;
  height: 30px;
  border: 2px solid gold;
  border-radius: 10px;
  /*  */
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

button.add {
  color: white;
  background-color: magenta;
  font-family: monospace;
  font-size: 24px;
  font-weight: 900;
  width: max-content;
  height: 40px;
  margin: 0 auto;
  padding: 0 5px 5px 5px;
  border: 4px solid purple;
  border-radius: 10px;
}

.projectTitle,
.listTitle {
  color: purple;
  font-family: monospace;
  font-size: 26px;
  margin: 0 auto;
  list-style: none;
  padding-left: 0;
}

.projectDetail,
.listDetail,
.listPriority {
  color: blue;
  font-family: monospace;
  font-size: 22px;
  list-style: none;
  padding-left: 0;
}

.quadrantOne,
.quadrantTwo,
.quadrantThree,
.quadrantFour {
  color: black;
  font-family: monospace;
  font-size: 12px;
  border: 1px solid purple;
}

.quadrantOne {
  grid-area: 1 / 1 / span 1 / span 5;
  font-size: 16px;
  font-weight: bold;
}

.quadrantTwo {
  grid-area: 2 / 1 / span 2 / span 6;
}

.quadrantThree {
  grid-area: 4 / 1 / span 1 / span 3;
}

.quadrantFour {
  grid-area: 4 / 4 / span 1 / span 3;
}

.item.delete {
  grid-area: 1 / 6 / span 1 / span 1;
  font-size: 18px;
  font-weight: 700;
  color: darkslategrey;
  background-color: lightcoral;
}

.list.delete {
  /* position: absolute; */
  /* right: 10px; */
  /* top: 10px; */
  color: magenta;
  background-color: white;
  font-family: monospace;
  font-size: 14px;
  font-weight: 700;
  width: max-content;
  height: min-content;
  padding: 5px;
  margin: 0 -2px 20px auto;
  border: 2px solid magenta;
  border-radius: 5px;
}

.project.delete {
  color: darkred;
  background-color: white;
  font-family: monospace;
  font-size: 22px;
  font-weight: 900;
  width: min-content;
  height: 80px;
  margin: -15px auto 0 10px;
  border: 4px solid red;
  border-radius: 10px;
}
