#outer-container {
    display: flex;
}

#panel-container {
    flex: 2;
    max-width: 400px;
    height: 70vh;
    /*  */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#content-container {
    flex: 6;
    height: 100vh;
    width: 100%;
}

.project-container {
    /* flex: 6; */
    width: 6fr;
    height: 100vh;
    /*  */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 400px));
    grid-template-rows: 1fr;
}


.list {
    width: 50%;
    height: 80%;
    background-color: gold;
    border: 4px solid violet;
    border-radius: 10px;
    padding-left: 0;
    /*  */
    display:flex;
    flex-direction: column;
    align-items: center;
}

.item {
    width: 95%;
    height: min-content;
    background-color: wheat;
    border: 2px solid blue;
    border-radius: 5px;
    list-style-type: none;
    padding: 0;
    /*  */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 25px);
}

button.submit {
    color: white;
    background-color: purple;
    font-family: monospace;
    font-size: 14px;
    width: 60px;
    height: 30px;
    border: 2px solid gold;
    border-radius: 10px;
}


.button {
    color: white;
    background-color: magenta;
    font-family: monospace;
    font-size: 24px;
    font-weight: 900;
    width: 60%;
    height: 40px;
    margin: 0 auto;
    border: 4px solid purple;
    border-radius: 15px;
}

.projectTitle,
.listTitle {
    color: purple;
    font-family: monospace;
    font-size: 26px;
    margin: 0 auto;
    list-style: none;
    padding-left:0;
}


.projectDetail,
.listDetail,
.listPriority {
    color: blue;
    font-family: monospace;
    font-size: 22px;
    list-style: none;
    padding-left:0;
}

.quadrantOne,
.quadrantTwo,
.quadrantThree,
.quadrantFour {
    color: black;
    font-family: monospace;
    font-size: 12px;
    border: 1px solid purple;
}

.quadrantOne {
    grid-area: 1 / 1 / 2 / 3;
    font-size: 16px;
    font-weight: bold;
}

.quadrantTwo {
    grid-area: 2 / 1 / 4 / 3;
}

.quadrantThree {
    grid-area: 4 / 1 / 5 / 2;
}

.quadrantFour {
    grid-area: 4 / 2 / 5 / 3;
}








